<a href="https://colab.research.google.com/github/MadhulikaSuresh/05022025/blob/main/19DecCoreList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi")

hi

In [ ]:
A=10
B=5
C= 8
c=90
print("A=",A)
print("B=",B)
print("C=",C)
print("c=",c)

A= 10
B= 5
C= 8
c= 90

In [ ]:
A=10.5
B=5
C=-8
print("A=",A)
print("B=",B)
print("C=",C)

A= 10.5
B= 5
C= -8

In [ ]:
A=10
B=-5
C= 2.5
E="Chennai"
print("A=",A)
print("B=",B)
print("C=",C)
print("E=",E)

A= 10
B= -5
C= 2.5
E= Chennai

In [ ]:
A=10
B=5
C= 8
E="Jan2023"
print(A)
print("")#space
print(B)

10

5

In [ ]:
A=10
B=5
C= 8
E="Jan2023"
print(A)
print("---")#space
print(B)

10
---
5

In [ ]:
A=10
B=5
C= 8
E="Jan2023"
print(A)
print("\nE=",E)#space

10

E= Jan2023

In [ ]:
#math
a=10
b=20
c=a-b
d=a+b
e=a/b
f=a*b
g=a**b#a power b
print("a=",a)
print("")#space
print("b=",b)
print("c",c)
print("---")#space
print("d",d)
print("\ne=",e)#space
print("f=",d)
print("")#space
print("g=",g)

a= 10

b= 20
c -10
---
d 30

e= 0.5
f= 30

g= 100000000000000000000

In [ ]:
a = int(input("Enter a integer = "));
b = float(input("Enter a decimal value ="));
c = input("Enter a string = ");
print("a",a)
print("b",b)
print("c",c)

Enter a integer = 10
Enter a decimal value =2.5
Enter a string = maaa
a 10
b 2.5
c maaa

In [ ]:
a=float(input("Enter a  value = "));
b=float(input("\nEnter a decimal value = "));
c=float(input("\nEnter a decimal value = "));
x=2*a
y=3*b
z=4*c
a1=x+y+z
print("\n 2 * first external input = ",x)
print("\n 3 * second external input = ",y)
print("\n 4 * third external input = ",z)
print("\na1 value is = ", a1)

Enter a  value = 2.5

Enter a decimal value = 2.5

Enter a decimal value = 2.5

 2 * first external input =  5.0

 3 * second external input =  7.5

 4 * third external input =  10.0

a1 value is =  22.5

In [ ]:
#task
#formula
#y=a+10b-6c
#y=a+b-c

a=int(input("Enter a  value = "));
b=float(input("\nEnter a decimal value = "));
c=float(input("\nEnter a decimal value = "));
x=2*a
y1=a+10*b-6*c
y2=a+b-c
z=4*c
print("\n 2 * first external input = ",x)
print("a=",a)
print("")#space
print("\n 3 * second external input = ",y)
print("b=",b)
print("---")#space
print("\n 4 * third external input = ",z)
print("c=",c)
print("\ny value is = ", y)

Enter a  value = 4

Enter a decimal value = 2.5

Enter a decimal value = 3.5

 2 * first external input =  8
a= 4


 3 * second external input =  7.5
b= 2.5
---

 4 * third external input =  14.0
c= 3.5

y value is =  7.5

In [ ]:
a=20
b=20
c=a+b
g=a>=b
print("a>=b=",g)
m=a<=b
print("a<=b=",m)
n=a>b
print("a>=b=",n)
o=a<b
print("a<b=",o)
j=a==b
j1=a!=b
print("a==b=",j)
print("not equal-",j1)

a>=b= True
a<=b= True
a>=b= False
a<b= False
a==b= True
not equal- False

In [ ]:
A = ["apple", "banana", "cherry"]
print(A)

#String, int and boolean data types:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

['apple', 'banana', 'cherry']

In [ ]:
x = ["apple", "banana", "cherry","Orange"]
a=len(x)
print(a)

4

In [ ]:
#Print the second item of the list:
thislist = ["apple", "banana", "cherry"]
a=thislist[2]
print(a)

cherry

In [ ]:
#Print the second item of the list:
thislist = ["apple", "banana", "cherry"]
a3=thislist[2]
print(a3)

cherry

In [ ]:
#Print the second item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
a=thislist[2:5]
print(a)
#start from 2 till 5

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
a=thislist[:4]
print(a)
#start from 0 till 4

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
x=thislist[2:]
print(x)

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
y=thislist[2:4]
print(y)

['cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["kiwi", "watermelon"]
print(thislist)

['apple', 'kiwi', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']